.productDetails {
  display: grid;
  grid-template-columns: 1fr 13rem;
  gap: 20px;
  padding: 2rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  align-self: start;
}

.productActions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
  height: 7rem;
  padding: 1rem;
}

.productImageContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 1rem;
}

.addCartButton {
  gap: 1rem;

  & span {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .productDetails {
    display: flex;
    flex-direction: column-reverse;
  }
  .productImageContainer {
    height: 40vh;
  }
  .productActions {
    align-items: center;
  }
}

.notFound {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
