.productDetails {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 2rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  width: 100%;
}

.productActions {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 15rem;
  padding: 1rem;
}

.addCartButton {
  gap: 8px;

  & span {
    margin-right: 0px;
  }
}
