.productDetails {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 13rem;
  gap: 20px;
  padding: 2rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  width: 100%;
  align-self: start;
}

.productActions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
  height: 7rem;
  padding: 1rem;
}

.productImageContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 1rem;
}

.addCartButton {
  gap: 1rem;

  & span {
    margin-right: 0;
  }
}
