:root {
  --background: #dadada;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.global-error {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & section {
    display: flex;
    gap: 1rem;
  }
}

.pdp-skeleton {
  display: grid;
  grid-template-columns: 1fr 13rem;
  gap: 1rem;
  padding: 2rem;
}
.plp-skeleton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}
@media (max-width: 600px) {
  .pdp-skeleton {
    display: flex;
    flex-direction: column-reverse;
  }
  .plp-skeleton {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
