.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #181818;
  color: #ffffff;

  & a {
    text-decoration: none;
    color: #ffffff;
  }
}

.cartButton {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #50c878;
  border: none;
  cursor: pointer;
}

.cartButton:hover {
  background-color: #7cfc00;
}
