.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #181818;
  color: #ffffff;
  width: 100%;

  & a {
    text-decoration: none;
    color: #ffffff;
  }
}
