.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  gap: 2rem;
}

.productLink {
  height: 100%;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;
}

.productImage {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
}

.notFound {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
