.cartModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  top: 5rem;
  left: 0;
  width: 300px;
  height: 300px;
  z-index: 10;
}

.cartModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.cartModalContent {
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.cartModalItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.cartModalItemName {
  display: flex;
  flex-direction: column;
}

.cartModalItemActions {
  display: flex;
  align-items: center;
}
