.cartModal {
  position: absolute;
  top: 5rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 30vw;
  height: 50vh;
}

.cartModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.cartModalContent {
  overflow-y: auto;
}

.cartModalItem {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
}

.cartModalItemName {
  text-align: right;
  align-self: center;
}

.cartModalItemActions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartModalItemPrice {
  font-size: 1rem;
  text-align: left;
  align-self: center;
}

.cartModalEmpty {
  text-align: center;
  margin-top: 1rem;
}

.cartModalItemNameContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .cartModal {
    width: 80vw;
    height: 60vh;
  }
}
